name: Static site

on: push

jobs:

  run-tests:
    runs-on: node-12

    steps:
      - name: Checkout code
        uses: actions/checkout@master

      - name: Update diagram
        id: make_diagram
        uses: githubocto/repo-visualizer@0.7.1
        with:
          output_file: "output-diagram.svg"
          artifact_name: "my-diagram"
          should_push: false

      - name: Get artifact
        uses: actions/download-artifact@v2
        with:
          name: "diagram"
          path: "downloads"
